<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <h1>Student Course Portal</h1>
      <span class="subtitle">Reactive Forms Demo</span>
    </div>
    
    <nav class="navbar-menu">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/courses" class="nav-link">Courses</a>
      <a routerLink="/enroll" class="nav-link">Template Form</a>
      <a routerLink="/enroll-reactive" class="nav-link">Reactive Form</a>
    </nav>
  </div>
</header>
